<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>결과</h2>
  </div>
  <h3 th:text="${carInfo.name}"></h3>
  <h3 th:text="${carInfo.price}"></h3>
  <h3 th:text="${carInfo.trim}"></h3>
  <h3 th:text="${carInfo.fuel}"></h3>
  <h3 th:text="${carInfo.displacement}"></h3>
  <h3 th:text="${carInfo.mileage}"></h3>
  <h3 th:text="${carInfo.limit}"></h3>

  <img src="/images/car.png">
</div>
</body>
</html>