<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{../static/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>이미지 업로드</h2>
    </div>

    <form th:action method="post" enctype="multipart/form-data">
        <input id="uploadInput" type="file" name="file" onchange="this.form.submit()" style="display: none">
        <a onclick="onClickUpload();" class="btn btn-primary btn-lg"> Upload your Image &#128659; </a>
    </form>
    <script>
        function onClickUpload(){
            let myInput = document.getElementById("uploadInput");
            myInput.click();
        }
    </script>
</div> <!-- /container -->
</body>
</html>